.App {
  text-align: center;
  min-height: 100vh;
}

.App-header {
  display: flex;
}

.content {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.top-tab-button {
  color: #fed123;
  background-color: #321def;
}

.content-spacer {
  height: 2px;
  background-color: #ddee88;
  margin: 0 25px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
